# GLOBAL CONFIGURATIONS -------------------------------------------------------
node-version=14.8.0
engine-strict=true

# UTILS -----------------------------------------------------------------------
loglevel=info
progress=true

registry=https://registry.npmjs.org/

PUPPETEER_SKIP_DOWNLOAD='true'
