@use '../../../styles/breakpoints.scss' as breakpoints;

:root {
    --gutter-width: 1rem;
    --outer-margin: 2rem;
    --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
    --half-gutter-width: calc((var(--gutter-width) * 0.5));

    @each $name, $size in breakpoints.$grid-breakpoints-amount {
        --#{$name}-min: $size;
    }

    @each $name, $size in breakpoints.$grid-breakpoints {
        --screen-#{$name}-min: $size;
        --container-#{$name}: calc(var(--#{$name}-min) + var(--gutter-width));
    }
}

:host {
    display: block;
}
