:host {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    picture {
        box-shadow: 0 2px 8px 0 rgba(#000, 0.2), 0 3px 20px 0 rgba(#000, 0.19);
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        // transition: all ease 1s;
        object-fit: cover;
    }
}

:host(:hover) {
    img {
        // filter: blur(1px);
    }
}
