$column-count: 12 !default;
$column-selector: "aw-col" !default;
$offset-modifier: "offset" !default;
$column-properties: "flex-basis", "max-width" !default;
$offset-properties: "margin-left" !default;

@mixin autoWidth() {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

@mixin percentWidth($property, $columns, $count) {
    #{$property}: ((100% / $columns) * $count);
}

@mixin percentOffset($property, $columns, $count) {
    $single-column-width: ((100% / $columns) * 1);
    #{$property}: $single-column-width * $count;
}

@mixin columns(
    $selector: $column-selector,
    $properties: $column-properties,
    $columns: $column-count,
    $queries: $queries
) {
    @each $size in $sizes {
        @include queries($size, $queries) {
            @for $i from 0 through $columns {
                @if ($i == 0) {
                    :host(.size-#{$size}) {
                        @content;
                        @include autoWidth();
                    }
                } @else {
                    :host(.size-#{$size}-#{$i}) {
                        @content;
                        @each $prop in $properties {
                            @include percentWidth($prop, $columns, $i);
                        }
                    }
                }
            }
        }
    }
}
