/* TODO: refactor to real SASS */
@use '../../../styles/media-queries.scss' as media;

:host {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: var(--gutter-compensation, -0.5rem);
    margin-left: var(--gutter-compensation, -0.5rem);
}

:host(.reverse) {
    flex-direction: row-reverse;
}

:host(.start-xs) {
    justify-content: flex-start;
    text-align: start;
}

:host(.center-xs) {
    justify-content: center;
    text-align: center;
}

:host(.end-xs) {
    justify-content: flex-end;
    text-align: end;
}

:host(.top-xs) {
    align-items: flex-start;
}

:host(.middle-xs) {
    align-items: center;
}

:host(.bottom-xs) {
    align-items: flex-end;
}

:host(.around-xs) {
    justify-content: space-around;
}

:host(.between-xs) {
    justify-content: space-between;
}

:host(.first-xs) {
    order: -1;
}

:host(.last-xs) {
    order: 1;
}

@include media.sm-viewport {
    .container {
        width: var(--container-sm, 46rem);
    }

    :host(.start-sm) {
        justify-content: flex-start;
        text-align: start;
    }

    :host(.center-sm) {
        justify-content: center;
        text-align: center;
    }

    :host(.end-sm) {
        justify-content: flex-end;
        text-align: end;
    }

    :host(.top-sm) {
        align-items: flex-start;
    }

    :host(.middle-sm) {
        align-items: center;
    }

    :host(.bottom-sm) {
        align-items: flex-end;
    }

    :host(.around-sm) {
        justify-content: space-around;
    }

    :host(.between-sm) {
        justify-content: space-between;
    }

    :host(.first-sm) {
        order: -1;
    }

    :host(.last-sm) {
        order: 1;
    }
}

@include media.md-viewport {
    .container {
        width: var(--container-md, 61rem);
    }

    :host(.start-md) {
        justify-content: flex-start;
        text-align: start;
    }

    :host(.center-md) {
        justify-content: center;
        text-align: center;
    }

    :host(.end-md) {
        justify-content: flex-end;
        text-align: end;
    }

    :host(.top-md) {
        align-items: flex-start;
    }

    :host(.middle-md) {
        align-items: center;
    }

    :host(.bottom-md) {
        align-items: flex-end;
    }

    :host(.around-md) {
        justify-content: space-around;
    }

    :host(.between-md) {
        justify-content: space-between;
    }

    :host(.first-md) {
        order: -1;
    }

    :host(.last-md) {
        order: 1;
    }
}

@include media.lg-viewport {
    .container {
        width: var(--container-lg, 71rem);
    }

    :host(.start-lg) {
        justify-content: flex-start;
        text-align: start;
    }

    :host(.center-lg) {
        justify-content: center;
        text-align: center;
    }

    :host(.end-lg) {
        justify-content: flex-end;
        text-align: end;
    }

    :host(.top-lg) {
        align-items: flex-start;
    }

    :host(.middle-lg) {
        align-items: center;
    }

    :host(.bottom-lg) {
        align-items: flex-end;
    }

    :host(.around-lg) {
        justify-content: space-around;
    }

    :host(.between-lg) {
        justify-content: space-between;
    }

    :host(.first-lg) {
        order: -1;
    }

    :host(.last-lg) {
        order: 1;
    }
}
