* {
    box-sizing: border-box;
}

:host {
    display: block;
    .image-gallery-item {
        padding-top: var(--half-gutter-width, 0.5rem);
        padding-bottom: var(--half-gutter-width, 0.5rem);
    }
}
